<footer>
    <nav>
      <ul>
        <li>
          <a href="/userHome">
            <img src="../images/home-4.png" alt="home icon">
          </a>
        </li>
        <li>
          <a class="big-icon" href="#0">
            <img src="../images/search-white.png" alt="search icon">
          </a>
        </li>
        <li>
          <a href="/profile">
            <img class="medium-size" src="../images/avatar-2.png" alt="profile icon">
          </a>
        </li>
      </ul>
    </nav>
  </footer>