

<section id= "main-homepage">
    <section class="homepage-info">
        <div> <img src="" alt="">logo</div>
        <h1>Trillions of songs for busy people</h1>
        <div class="main-acces">
            <a href="/auth/signup">Sign up</a>
            <a href="/auth/login">Login</a>
        </div>
    </section>
</section>