

<section id= "main-homepage">
    <div> <img src="" alt="">logo</div>
    <h2>Short songs for busy people</h2>
<div>
    <a href="/auth/signup">Sign in</a>
    <a href="/auth/login">Log in</a>
</div>


</section>