<section class="playlist-page">
  <header>
    <a href="javascript: history.go(-1);location.replace(document.referrer; location.replace(document.referrer)">go back</a>
    <h3>"{{artist}}" in Playlist</h3>
  </header>
 
  {{#each playlists}}
    <article>
      
      <div>
        <h3>{{this.name}}</h3>
        <a href="/playlistSongCollection/{{this.id}}">View playlist</a>
      </div>
    </article>
  {{/each}}
  {{> userNavbar}}
</section>