
<a href="/">Go back</a>


<form action="/auth/signup" method="POST">

<label for="username">Username</label>
<input type="text" name="username" id="username" required placeholder="Username"> 

<label for="email">Email</label>
<input type="text" name="email" id="email" required placeholder="email"> 

<label for="password">Password</label>
<input type="password" name="password" id="password" required placeholder="Password">

<label for="location">Location</label>
<input type="text" name="location" id="location" required placeholder="Location">

{{!-- <label for="picture">Profile picture</label>
<input type="text" name="location" id="location" required placeholder="Location"> --}}

<button type="submit">Sign Up</button>

</form>


