<section id="private-main">

  <div>
    <p>Welcome</p>
    <h1>{{currentUser.username}}</h1>
  </div>

  <section class="search-bar">
    <form action="/searchResults" method="GET">
      <label for="artist"></label>
      <input type="text" name="artist" id="artist" placeholder="Looking for an artist!" required>
      <button type="submit">OO</button>
    </form>
  </section>

  

  <section class="covers">
    <h2>My Playlists</h2>
    <a href="/playlistCollection">View Playlists</a>
    <div class="playlist-slider">
      {{#each playlists}}
    <article class="cover-article">
      <div>
        <img src="" alt="">
      </div>
      <h3>{{name}}</h3>
      <p>description</p>
      <a href="/playlistSongCollection/{{_id}}">go</a>
    </article>
     {{/each}}
    </div>
   
  
   
   <a class="add-playlist" href="#0">+</a>
  </section>


  {{> userNavbar}}
</section>

<section class="playlist-collection">
  <form class="playlist-form">
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <button class="playlist-create" type="submit">Add playlist</button>
  </form>

</section>


<script src="../javascripts/main.js"></script>
